html {
  font-family: system-ui, sans-serif;
}


:is(:where([data-mode="dark"]) .sun) {
  display: none;
}

:is(:where([data-mode="light"]) .moon) {
  display: none;
}

:is(:where([data-mode="dark"]) .blog-icon) {
  fill: white !important;
}

:lang(ja).toJPN {
  display: none;
}

:lang(en).toENG {
  display: none;
}

.animate-disappear-arrow {
  animation: disappear-arrow 2s infinite;
}

@keyframes disappear-arrow {
  0%,
  50% {
    display: block;
  }
  50.01%,
  100% {
    display: none;
  }
}

.animate-disappear-hand {
  animation: disappear-hand 2s infinite;
}

@keyframes disappear-hand {
  0%,
  50% {
    display: none;
  }
  50.01%,
  100% {
    display: block;
  }
}

[data-mode="dark"] .hide-on-dark {
  display: none !important;
}
[data-mode="light"] .hide-on-light {
  display: none !important;
}

.white-bg-on-dark-before-after::before,
.white-bg-on-dark-before-after::after {
  background-color: var(--ui-colors-black);
}
[data-mode="dark"] .white-bg-on-dark-before-after::before,
[data-mode="dark"] .white-bg-on-dark-before-after::after {
  background-color: var(--ui-colors-white);
}