@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  [data-mode="dark"] {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  .navbar-link[data-menu-open="true"],
  .footer-dropup[data-menu-open="true"] {
    @apply scale-[0.99] md:scale-[0.97];
  }
}

footer {
  margin-top: auto;
}

html {
  font-family: system-ui, sans-serif;
  --tw-bg-opacity: 1;
}
:is(:where([data-mode="dark"]) html) {
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
:is(:where([data-mode="dark"]) body) {
  background-color: hsla(0, 0%, 0%, 0.4);
}

:is(:where([data-mode="dark"]) .sun) {
  display: none;
}

:is(:where([data-mode="light"]) .moon) {
  display: none;
}

:is(:where([data-mode="dark"]) .blog-icon) {
  fill: white !important;
}

:lang(ja).toJPN {
  display: none;
}

:lang(en).toENG {
  display: none;
}

/* menu toggle */
.menu-toggle {
  position: relative;
  width: 24px;
  height: 2px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.menu-toggle:hover {
  cursor: pointer;
  background: transparent;
}

.menu-toggle::before,
.menu-toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  transition: all 0.3s ease-in-out;
}
[data-mode="dark"] .menu-toggle::before,
[data-mode="dark"] .menu-toggle::after {
  background-color: white;
}

.menu-toggle::before {
  top: 0;
  transform: translateY(-5px);
}

.menu-toggle::after {
  bottom: 0;
  transform: translateY(5px);
}

.menu-toggle[data-menu-open="true"] {
  background: transparent;
}

.menu-toggle[data-menu-open="true"]::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle[data-menu-open="true"]::after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* navbar dropdown */
.navbar-dropdown {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-top: 6px;
  transform: rotate(90deg) scale(0.7);
}

.navbar-dropdown::before,
.navbar-dropdown::after {
  content: "";
  position: absolute;
  right: 0;
  width: 10px;
  height: 2px;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

[data-mode="dark"] .navbar-dropdown::before,
[data-mode="dark"] .navbar-dropdown::after {
  background-color: white !important;
}

.navbar-dropdown[data-menu-open="true"]::before {
  transform: translateY(3px) rotate(45deg);
}

.navbar-dropdown[data-menu-open="true"]::after {
  transform: translateY(-3px) rotate(-45deg);
}

.navbar-dropdown[data-menu-open="false"]::before,
.navbar-dropdown:hover::before {
  transform: translateY(-3px) rotate(45deg);
}

.navbar-dropdown[data-menu-open="false"]::after,
.navbar-dropdown:hover::after {
  transform: translateY(3px) rotate(-45deg);
}

/* dropup (reverse dropdown) */
.dropup {
  position: relative;
  display: inline-block;
  padding: 5px;
  transform: rotate(-90deg) scale(0.7);
}

.dropup::before,
.dropup::after {
  content: "";
  position: absolute;
  right: 0;
  width: 10px;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

[data-mode="dark"] .dropup {
  @apply before:bg-gray-400 after:bg-gray-400;
}

[data-mode="dark"] .group:hover .dropup::before,
[data-mode="dark"] .group:hover .dropup::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.dropup[data-menu-open="true"]::before {
  transform: translateY(-3px) rotate(-45deg);
}

.dropup[data-menu-open="true"]::after {
  transform: translateY(3px) rotate(45deg);
}

.dropup[data-menu-open="false"]::before,
.dropup:hover::before {
  transform: translateY(3px) rotate(-45deg);
}

.dropup[data-menu-open="false"]::after,
.dropup:hover::after {
  transform: translateY(-3px) rotate(45deg);
}

.animate-disappear-arrow {
  animation: disappear-arrow 2s infinite;
}

@keyframes disappear-arrow {
  0%,
  50% {
    display: block;
  }
  50.01%,
  100% {
    display: none;
  }
}

.animate-disappear-hand {
  animation: disappear-hand 2s infinite;
}

@keyframes disappear-hand {
  0%,
  50% {
    display: none;
  }
  50.01%,
  100% {
    display: block;
  }
}

[data-mode="dark"] .first-table-row {
  @apply bg-gray-800;
}

[data-mode="dark"] .second-table-row {
  @apply bg-gray-950;
}

.nav-background {
  @apply bg-white bg-opacity-50;
}

[data-mode="dark"] .nav-background {
  @apply bg-[#141414] bg-opacity-50;
}

[data-mode="dark"] .footer-lang,
[data-mode="dark"] .footer-link {
  @apply text-gray-400 hover:text-gray-200;
}

[data-mode="dark"] .footer-lang img {
  @apply brightness-75;
}

[data-mode="dark"] .footer-github {
  @apply text-white;
}

[data-mode="dark"] .footer-linkedin {
  @apply text-white;
}

[data-mode="dark"] .hide-on-dark {
  display: none;
}
[data-mode="light"] .hide-on-light {
  display: none;
}
